/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= bootstrap.min
 *= bootstrap.min.map
 *= bootstrap.map
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body{
    background-color: rgb(241,241,241);
}
li{
    display: inline;
}
li a {
    display: inline;
    width: 60px;
    color: white;
    padding: 8px 0 8px 16px;
}
li a:hover {
    background-color: #555;
    color: red;
}
table,th ,td{
    display: table;
    border: 1px, solid, black;
    padding: 5px;
}
.recipe-top{
/*	background-image: url('https://b.zmtcdn.com/images/foodshots/cover/pizza3.jpg'); 
	background-size: cover;
    background-repeat: no-repeat;
*/  color: white;
    width: 700px;
/*    margin-top: 0px;
*/    margin: auto;
}
.recipe-image{
    background-image: url('https://b.zmtcdn.com/images/foodshots/cover/pizza3.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;  
    width: inherit;
    height:200px;
    width: 400px;
    margin: auto;
}
.recipe-descp{
    margin-left: 225px ;
}
.recipe-description{
    border: 2px, solid, black;    
}
.h-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar-modi{
    background-color: black;
    border: solid;
    border-color: green;
    margin: 0px;
    position: static;
}

.all-forms
{
    background-color: rgb(255,255,255);
    width: 300px;
    margin: auto;
    margin-top: 30px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 25px;
}
.all-tables
{
    margin: auto;
}
.t-place-down{
    margin: auto;
}
.button{
    float: none;
    margin: auto;
}